@import ../vars
header
  position: fixed
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  width: 100%
  padding: 10px 5%
  .home-icon
    color: $secondary-color
    font-size: 50px
    font-weight: 900