@import ./vars
body
  overflow: hidden
.main-content
  padding: 150px 0
  background: linear-gradient(90deg, $primary-color 67%, $secondary-color 33%)
  display: flex
  flex-direction: row
  justify-content: space-between
  .main-div
    display: flex
    flex-direction: column
    padding: 0 10%
    justify-content: center
    h1
      font-size: 5vw
      color: $secondary-color
      display: flex
      flex-wrap: wrap
      line-height: .8em
      font-weight: 900
    p
      text-align: justify
      margin-top: 20px
      font-size: 16px
  .img-div
    margin-right: 20vw
    img
      width: 25vw
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1)
      border-radius: 8px
