// Vars
$primary-color: #0F84E1
$primary-light-color: #208be1
$primary-dark-color: #0b60a3
$secondary-color: #82DE66
$secondary-light-color: #89da73
$success-color: #4AFA25
$danger-color: #dc3545
$info-color: #25CFFA
$bg-color: #242424
$gray: #3e3d3d
$bg-white: #f1ebeb
$gray-light: #cccccc
$pure-white: #fff


// Fin Vars